{% extends "page/layout1.html" %}

{% block title %}
Đơn đặt phòng admin
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h3 class="text-danger text-center">Đơn đặt phòng</h3>
    <p class="text-end">
        <a href="{% url 'ThemDonDatPhong' %}" class="text-decoration-none" style="margin-right:13%">Thêm đơn đặt phòng</a>
    </p>

    <table class="table w-75 m-auto mt-3">
        <thead>
            <tr class="table-danger">
                <td>Mã đơn đặt phòng</td>
                <td>Mã hóa đơn</td>
                <td>Số phòng</td>
                <td>Ngày nhận phòng</td>
                <td>Ngày trả phòng</td>
                <td>Tổng tiền phòng</td>
                <td>Tổng tiền dịch vụ</td>
                <td>Tình trạng</td>
                <td>Activies</td>
            </tr>
        </thead>

        {% for dp in ds_DP %}
        <tr>
            <td>{{ dp.MaDonDatPhong }}</td>
            <td>{{ dp.MaHoaDon.MaHoaDon }}</td>
            <td>{{ dp.SoPhong.SoPhong }}</td>
            <td>{{ dp.NgayNhanPhong|date:'d/m/Y H:i' }}</td>
            <td>{{ dp.NgayTraPhong|date:'d/m/Y H:i' }}</td>
            <td>{{ dp.TongTienPhongFormatted }}</td>
            <td>{{ dp.TongTienDichVuFormatted }}</td>
            <td>{{ dp.TinhTrang }}</td>
            <td>
                <a href="/QLKS/SuaDonDatPhong/{{ dp.MaDonDatPhong }}" class="text-decoration-none">Sửa</a> |
                <a href="/QLKS/XoaDonDatPhong/{{ dp.MaDonDatPhong }}" class="text-decoration-none">Xóa</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}