{% extends "page/layout1.html" %}
{% block title %}
Thêm loại phòng
{% endblock %}
{% block content %}
<h2 class="w-100 text-center p-3 text-danger">Thêm Loại Phòng</h2>
<form action="/QLKS/themlp" method="POST">
    {% csrf_token %}
    <div class="form-row">
        <div class="col-md-6">

            <div class="form-group">
                <label>Tên loại: </label>
                {{form.TenLoai}}
            </div>
            <div class="form-group">
                <label>Sức chứa: </label>
                {{form.SucChua}}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Giá 1 ngày: </label>
                {{form.GiaMotNgay}}
            </div>
        </div>
        <input type="submit" value="Thêm loại phòng" />
        <a class="btn btn-outline-danger text-decoration-none" href="{% url 'loaiphong' %}"> Hủy</a>
    </div>
</form>
{% endblock %}
